<div class="container-fluid login-container login-page" style="background-color: #edf0f5">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">

      <!-- Errors container -->
      <div class="errors-container"></div>

      <%= link_to(root_path) do %>
        <%= image_tag('logo-black.png', width: "300", style:"margin-bottom: 20px;") %>
      <% end %>
      <%= form_for(resource, :as => resource_name, :html => { :class => 'login-form'}, :url => session_path(resource_name)) do |f| %>
        <div class="form-group">
          <% f.label :email, class: 'control-label' %>
          <%= f.email_field :email, { placeholder: 'you@example.com', :autofocus => true, :class => 'form-control input-dark input-lg' } %>
        </div>

        <div class="form-group">
          <% f.label :password, class: 'control-label' %>
          <%= f.password_field :password, {  :class => 'form-control input-dark input-lg' } %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group text-left">
            <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => 'color: #979898; font-weight: 400;' %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Login", class: 'btn btn-success  btn-block text-left' %>
        </div>

        <div class="login-footer"><%= render "devise/shared/links" %></div>
      <% end %>
    </div>
  </div>
</div>
