!!!
%html
  %head
    %title Member Moose
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    'application-bulls', media: 'all'
    = javascript_include_tag 'bulls/application'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,700,300,100", :rel => "stylesheet", :type => "text/css"}/
    %script
      _test_env =
      != (Rails.env == 'production' ? nil : 'testing' ).to_json

      bull =
      != @bull ? @bull.account.to_json : nil
      account =
      != @user ? @user.account.to_json : nil
    %base{"href"=>"/"}
  %body{"ng-app"=>"dashboardApp", "ng-controller"=>"DashboardController"}
    %header
      %img.logo{"ng-src"=>"{{bull.logo.url}}"}
      %nav{:role => "primary"}
        %ul.nav.nav-pills
          %li
            %a{"ui-sref"=>"subscriptions"}
              Subscriptions
          %li
            %a{"ui-sref"=>"cards"}
              Payment Methods
          %li
            %a{"ui-sref"=>"billingHistory"}
              Billing History
    %div{"style"=>"text-align: center;"}
      = yield
    %footer.text-center
      .powered-by Powered by
      = link_to image_tag('logo-black.png', width: "300", alt: "MemberMoose"), root_path
