!!!
%html
  %head
    %title Member Moose - Dashboard
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    'application-dashboard', media: 'all'
    = javascript_include_tag 'dashboard/application'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,700,300,100", :rel => "stylesheet", :type => "text/css"}/
    %script
      _test_env =
      != (Rails.env == 'production' ? nil : 'testing' ).to_json

      user =
      != @user ? @user.to_json : nil

      config =
      != @config ? @config.to_json : nil
    %base{"href"=>"/dashboard"}
  %body{"ng-app"=>"dashboardApp", "ng-controller"=>"DashboardController"}
    .success-message.animate-show.alert.alert-success{"role"=>"alert", "ng-show"=>"show_success_message"}
      %a.close{"ng-click"=>"close_success_message()", "aria-label"=>"close"}
        &times;
      {{success_message}}
    .error-message.animate-show.alert.alert-danger{"role"=>"alert", "ng-show"=>"show_error_message"}
      %a.close{"ng-click"=>"close_error_message()", "aria-label"=>"close"}
        &times;
      {{error_message}}
    %nav.navbar.navbar-fixed-top{:role => "navigation"}
      #brand-header
        #navbar-header
          .navbar-brand-wrapper
            %a.navbar-brand
              MemberMoose
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-menu
          .navbar-collapse.collapse
            .minifyme
              %a{:href=>"#"}
                = fa_icon "bars"
            %ul#top-nav.nav.navbar-nav.navbar-right
              %li
                %a{:href=>"#"}
                  = fa_icon "bell-o"
              %li
                %a{:href=>"#"}
                  = fa_icon "envelope-o"
              %li
                = link_to destroy_user_session_path, :method => 'delete' do
                  = fa_icon "sign-out"
    #content-wrapper
      .row-offcanvas.row-offcanvas-left
        %aside#left-panel.sidebar-offcanvas{"role" => "navigation"}
          #profile-block.text-center
            %img.logo{"ng-src"=>"{{user.account.logo.url}}", "alt"=>"user.account.companyName","ng-show"=>"user.account.logo.url.length > 0"}
            %h4.user-name
              {{ user.account.firstName }} {{ user.account.lastName }}
            %h5.company-name
              {{ user.account.companyName }}
            %h6.mm-stats
              34<br />
              Your Moose Pack
          %nav.nav-sidebar
            %ul
              %li.top-nav-item{"ng-class"=>"setMenuItemSelected('/dashboard/launch')"}
                %a{"href"=>"/dashboard/launch"}
                  %i.linecons-paper-plane
                  %span.menu-item-parent
                    LAUNCH LIST
              %li{"ng-class"=>"setMenuItemSelected('/dashboard/plans')"}
                %a{"href"=>"/dashboard/plans"}
                  %i.linecons-heart
                  %span.menu-item-parent
                    PLANS
              %li{"ng-class"=>"setMenuItemSelected('/dashboard/members')"}
                %a{"href"=>"/dashboard/members"}
                  %i.linecons-user
                  %span.menu-item-parent
                    MEMBERS
              %li{"ng-class"=>"setMenuItemSelected('/dashboard/subscriptions')"}
                %a{"href"=>"/dashboard/subscriptions"}
                  %i.linecons-star
                  %span.menu-item-parent
                    SUBSCRIPTIONS
              %li{"ng-class"=>"setMenuItemSelected('/dashboard/payments')"}
                %a{"href"=>"/dashboard/payments"}
                  %i.linecons-money
                  %span.menu-item-parent
                    PAYMENTS
              %li{"ng-class"=>"setMenuItemSelected('/dashboard/accounts')"}
                = link_to edit_dashboard_account_url(:id => current_user.id) do
                  %i.linecons-note
                  %span.menu-item-parent
                    ACCOUNT
        #content{"role"=>"main"}
          = yield
