!!!
%html
  %head
    %title Member Moose - Dashboard
    = stylesheet_link_tag    'application-dashboard', media: 'all'
    = javascript_include_tag 'dashboard/application'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,700,300,100", :rel => "stylesheet", :type => "text/css"}/
    %base{"href"=>"/dashboard"}
  %body{"ng-app"=>"dashboardApp", "ng-controller"=>"DashboardController"}
    %nav.navbar.navba.navbar-fixed-top{:role => "navigation"}
      .container-fluid
        .row-fluid{:style=>"margin-right: -15px;"}
          .navbar-header.col-sm-3.col-md-2
            %a.navbar-brand MemberMoose
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .col-sm-9.col-md-10
            .navbar-collapse.collapse
              %ul#top-nav.nav.navbar-nav.navbar-right
                %li
                  %a{:href=>"#"}
                    = fa_icon "bell-o"
                %li
                  %a{:href=>"#"}
                    = fa_icon "envelope-o"
                %li
                  = link_to destroy_user_session_path, :method => 'delete' do
                    = fa_icon "sign-out"
    #content-wrapper.container-fluid.fill-height
      .row-fluid.row-offcanvas.row-offcanvas-left
        #sidebar.col-sm-3.col-md-2.sidebar-offcanvas{"role" => "navigation"}
          #profile-block.text-center
            %img{"ng-src"=>"user.account.logo.url", "alt"=>"user.account.companyName","ng-show"=>"user.account.logo"}
            %h4.user-name
              {{ user.account.firstName }} {{ user.account.lastName }}
            %h5.company-name
              {{ user.account.companyName }}
            %h6.mm-stats
              34<br />
              Your Moose Pack
          %ul.nav.nav-sidebar
            %li.top-nav-item{"ng-class"=>"setMenuItemSelected('/dashboard/launch_list')"}
              %a{"href"=>"/dashboard/launch_list"}
                %i.linecons-paper-plane
                LAUNCH LIST
            %li{"ng-class"=>"setMenuItemSelected('/dashboard/plans')"}
              %a{"href"=>"/dashboard/plans"}
                %i.linecons-heart
                PLANS
            %li{"ng-class"=>"setMenuItemSelected('/dashboard/members')"}
              %a{"href"=>"/dashboard/members"}
                %i.linecons-user
                MEMBERS
            %li{"ng-class"=>"setMenuItemSelected('/dashboard/subscriptions')"}
              %a{"href"=>"/dashboard/subscriptions"}
                %i.linecons-star
                SUBSCRIPTIONS
            %li{"ng-class"=>"setMenuItemSelected('/dashboard/payments')"}
              %a{"href"=>"/dashboard/payments"}
                %i.linecons-money
                PAYMENTS
            %li{"ng-class"=>"setMenuItemSelected('/dashboard/accounts')"}
              = link_to edit_dashboard_account_url(:id => current_user.id) do
                %i.linecons-note
                ACCOUNT
        #content.col-sm-9.col-md-10
          = yield
