!!!
%html
  %head
    %title Member Moose
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'public/application'
    = csrf_meta_tags
    = analytics_init :local => Rails.env.development?
  %body
    = yield
